.products {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}
.img1 {
  margin: 0 auto;
}
.heading {
  font-weight: 600;
  font-size: 18px;
  margin-left: 20px;
  border-bottom: 2px solid #270c03;
  text-align: center;
  width: fit-content;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.proCard {
  opacity: 0.5;
}
.proCard:hover {
  opacity: 1;
}
